@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse {
    visibility: unset;
}
.accordion-button {
    color: #000;
}
.accordion-button:not(.collapsed) {
    box-shadow: unset;
    color: #000;
}

.form-check-input:checked {
    background-color: #fd450d;
    border-color: #fd450d;
}
